{% extends "base.html" %} 
{% block title %} Home {% endblock %}
{% block content %}
    <h3 align="center">Welcome to Educloud</h3><br>
    <h2 align="center">Empowering Education Through Shared Computing</h2> <br>
    <p>The goal of this project is to create a platform that connects personal computer owners with university students who need high computational power for education or innovative projects. 
    Educloud utilizes Cloud Computing to share this computational power, making it widely available.</p>
{% endblock %}
