{% extends "base.html" %} 
{% block title %} View Resources {% endblock %}
{% block content %}
<div class="container">
    <h2>List Resources</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Resource Type</th> <!-- Corrected spelling -->
                <th>Availability Status</th>
            </tr>
        </thead>        
        <tbody>
            {% for resource in resources %}
            <tr>
                <td>{{ resource.resource_type }}</td>
                <td>{{ resource.availability_status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</table>
{% endblock %}
